*.sh
*.uuid
reaction-diffusion-mixture-model/artefacts/
reaction-diffusion-mixture-model/checkpoints/
reaction-diffusion-mixture-model/data/
reaction-diffusion-mixture-model/wandb/
reaction-diffusion-mixture-model/lightning_logs/
reaction-diffusion/artefacts/
reaction-diffusion/checkpoints/
reaction-diffusion/data/
reaction-diffusion/wandb/
reaction-diffusion/lightning_logs/
diffusion/artefacts
diffusion/checkpoints/
diffusion/data/
diffusion/wandb/
diffusion/lightning_logs/
.idea/
.DS_Store
*.pyc
*.pyo
*.pyd