*.sh
*.uuid
reaction-diffusion/artefacts/
reaction-diffusion/checkpoints/
reaction-diffusion/data/
reaction-diffusion/wandb/
diffusion/artefacts
diffusion/checkpoints/
diffusion/data/
diffusion/wandb/
.idea/
.DS_Store
*.pyc
*.pyo
*.pyd